<ng-template #divLoading>
    <mat-grid-list cols="1" rowHeight="100vh">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="hero, else divLoading" class="grid p-2">
    <mat-card class="col-12 md:col-4 md:col-offset-1">
      <mat-card-header>
        <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
        <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
      </mat-card-header>

    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image>
    </mat-card>

    <mat-card class="col-12 md:col-4 md:col-offset-2">
      <mat-card-header>
        <mat-card-title>Información</mat-card-title>
        <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
      </mat-card-header>
      <mat-list>
        <mat-list-item>{{ hero.first_appearance }}</mat-list-item>
        <mat-list-item>{{ hero.characters }}</mat-list-item>
        <mat-list-item>{{ hero.publisher }}</mat-list-item>
        <mat-list-item>{{ hero.alter_ego }}</mat-list-item>
      </mat-list>
      <div class="spacer"></div>
      <button
      mat-button
      color="warn"
      (click)="goBack()"
      >
        Regresar
      </button>
    </mat-card>
</div>
